{% extends "base.html" %}
{% block content %}
{% comment %} {% load widget_tweaks %} {% endcomment %}
      <section class=" text-gray-300 bg-gray-900 body-font pt-56 pb-56">
        <h1 class="text-center pb-8 text-3xl">
          Login
        </h1>
        {% comment %} <form method="post" class="container max-w-sm mx-auto">
            {% csrf_token %}
            <div class="mb-5">
              <label for="first_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Username</label>
              {% render_field form.username type="text" id="username" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" %}
            </div>
            <div class="mb-5">
              <label for="last_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
              {% render_field form.password type="password" id="password" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" %}
            </div>
            <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Login</button>
        </form> {% endcomment %}
        <form method="post">
          {% csrf_token %}
          {{form.as_p}}
          <button type="submit">Signup</button>
        </form>
      </section>
    {% endblock content %}